.thead{
    font-size: 30px;
    color: aquamarine;
}
.A{
    background-color: lightgreen;
}
.M{
    background-color: hotpink;
}
.B{
    background-color: darkgray;
}
.Aa{
    background-color: darkcyan;
}
.T{
    background-color: lightpink;
}
.I{
    background-color: brown;
}
